<button class="btn btn-outline btn-primary" (click)="openModal()">
  Add User
</button>
<dialog id="my_modal_5" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <h3 class="text-lg text-center font-bold">Add User</h3>
    <div class="modal-action m-2">
      <form #addUserform="ngForm" method="" class="justify-between">
        <input
          type="text"
          name="name"
          [(ngModel)]="UserRequest.name"
          placeholder="Name"
          class="input input-bordered w-2/5 m-1"
        />
        <input
          type="text"
          name="email"
          [(ngModel)]="UserRequest.email"
          placeholder="Email"
          class="input input-bordered w-2/5 m-1"
        />
        <input
          type="text"
          name="contactNo"
          [(ngModel)]="UserRequest.contactNo"
          placeholder="Contact No"
          class="input input-bordered w-2/5 m-1"
        />
        <select
          class="select select-bordered w-2/5 m-1"
          name="userRole"
          [(ngModel)]="UserRequest.userRole"
          >
          >
          <option value="0" selected>Choose Role</option>
          <option value="1">Admin</option>
          <option value="2">Manager</option>
          <option value="3">Staff</option>
        </select>

        <div class="flex m-4 justify-center">
          <button class="btn m-2" (click)="submitUser()">Submit</button>
          <button class="btn m-2" (click)="closeModal()">Close</button>
        </div>
      </form>
    </div>
  </div>
</dialog>
