<!-- Banner Component -->

<div id="default-carousel" class="relative w-full" data-carousel="slide">
    <!-- Carousel wrapper -->
    <div class="relative h-56 overflow-hidden  md:h-[510px] lg:h-screen">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://images.pexels.com/photos/1119152/pexels-photo-1119152.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://images.pexels.com/photos/270220/pexels-photo-270220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://images.pexels.com/photos/2375264/pexels-photo-2375264.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://images.pexels.com/photos/1746207/pexels-photo-1746207.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
            <img src="https://images.pexels.com/photos/270220/pexels-photo-270220.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1"
            data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2"
            data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3"
            data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4"
            data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5"
            data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button"
        class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-prev>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M5 1 1 5l4 4" />
            </svg>
            <span class="sr-only">Previous</span>
        </span>
    </button>
    <button type="button"
        class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none"
        data-carousel-next>
        <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
            <svg class="w-4 h-4 text-white dark:text-gray-800 rtl:rotate-180" aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="m1 9 4-4-4-4" />
            </svg>
            <span class="sr-only">Next</span>
        </span>
    </button>
</div>



<!-- About Us Component -->
<div class="about  text-white border-gray-200 dark:bg-gray-900 py-10 md:py-16">
    <h2 class="about-head  text-2xl font-bold text-center py-4 underline-offset-8  underline">About Us</h2>

    <div class="aboutdes px-6 lg:px-48 text-center leading-relaxed text-base md:text-lg">Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Nostrum iste voluptate necessitatibus. Dignissimos quaerat sit aut quod debitis
        sunt beatae dolorem exercitationem dicta nemo, voluptatem qui corporis, non aspernatur similique atque earum
        omnis dolorum velit! Corporis assumenda earum qui pariatur beatae suscipit fuga iure consectetur tempora,
        exercitationem cum. Earum fuga perspiciatis nulla mollitia aperiam placeat eveniet at quia laboriosam architecto
        delectus perferendis ipsum ullam illum nostrum voluptas, illo, reiciendis sit odio ipsa nemo dignissimos!
        Perspiciatis sunt voluptatum totam similique soluta saepe dolor doloremque sed dicta earum quasi iusto
        laboriosam esse nemo natus hic quod ipsa nam magni, facilis nihil numquam. Hic maxime, quasi autem a eaque
        blanditiis laboriosam magnam aliquam sint rem repellat illo officia molestiae tenetur expedita consectetur,
        voluptates quo eum rerum! Natus, debitis aspernatur! Quibusdam nostrum similique a, dolor sit quasi quos, eum
        quisquam nesciunt porro pariatur suscipit illum veritatis, consectetur doloribus maiores veniam voluptates aut
        at est. Neque, eaque distinctio unde vel, corrupti eveniet voluptate asperiores iure, culpa voluptas
        exercitationem quidem doloribus quo dolores earum nam tempora ipsam? Provident hic tempora voluptatibus.
        Repellat, omnis eveniet? Laboriosam sapiente aperiam repudiandae. Quasi, illum iure fugiat, harum facere
        explicabo similique sequi amet perspiciatis quos tempora blanditiis delectus? Debitis, nesciunt repudiandae.
    </div>
</div>


<h2>Services</h2>
<h2>Achievements</h2>
<h2>Contact</h2>